packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGhDCCBWygAwIBAgIRAMqgp7Q6REcikX+gJ3GKTdowDQYJKoZIhvcNAQELBQAw
        gYsxCzAJBgNVBAYTAkVTMRYwFAYDVQQIEw1JbGxlcyBCYWxlYXJzMRAwDgYDVQQH
        EwdNYW5hY29yMScwJQYDVQQKEx5Tb2x1Y2lvbmVzIENvcnBvcmF0aXZhcyBJUCwg
        U0wxKTAnBgNVBAMTIERvbiBEb21pbmlvIC8gTXJEb21haW4gUlNBIERWIENBMB4X
        DTI0MDEzMTAwMDAwMFoXDTI1MDMwMjIzNTk1OVowHjEcMBoGA1UEAxMTamRkb21p
        bmljYW5mYXJtLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBANGT
        DZ1oExt5wiZnfn4DrCR3BgYRVOSeTjQq+rxdk+XLRvNXjRDSefFR3V95tr/UMaJS
        aY2aWxFBw20zNoPCoIP7ex94yEtID5bPFdBLUJJoWYGX5fXCMdc4EPQdJYKPdI+6
        dpLEVQ9c8BgvMyOIogBTWfU9W+TpYChgJ6U97QFjCtC3aFP+jw23CE4K/PYy9IKY
        vvC7FoOv0qYUANk09NX9UGZg836epsBF2mCfQs5nxdpNuuC1QsRBTTU3DIHIQdf4
        1TXxkGlQagEogo2og5UdWqaWMPj0Hkr1l3ZOqmqeq9+bqjcjrSM0KOAu6IrDtCjD
        TnGlsJwnMFrSNwtIKvMCAwEAAaOCA00wggNJMB8GA1UdIwQYMBaAFDoKjBx3WSnq
        FvaZP6MXs98pEZM6MB0GA1UdDgQWBBQLpaut2z/VrtRTpmJiy0Iox6LyIzAOBgNV
        HQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAdBgNVHSUEFjAUBggrBgEFBQcDAQYI
        KwYBBQUHAwIwSwYDVR0gBEQwQjA2BgsrBgEEAbIxAQICOzAnMCUGCCsGAQUFBwIB
        FhlodHRwczovL2Nwcy51c2VydHJ1c3QuY29tMAgGBmeBDAECATBHBgNVHR8EQDA+
        MDygOqA4hjZodHRwOi8vY3JsLnVzZXJ0cnVzdC5jb20vRG9uRG9taW5pb01yRG9t
        YWluUlNBRFZDQS5jcmwweQYIKwYBBQUHAQEEbTBrMEIGCCsGAQUFBzAChjZodHRw
        Oi8vY3J0LnVzZXJ0cnVzdC5jb20vRG9uRG9taW5pb01yRG9tYWluUlNBRFZDQS5j
        cnQwJQYIKwYBBQUHMAGGGWh0dHA6Ly9vY3NwLnVzZXJ0cnVzdC5jb20wNwYDVR0R
        BDAwLoITamRkb21pbmljYW5mYXJtLmNvbYIXd3d3LmpkZG9taW5pY2FuZmFybS5j
        b20wggF+BgorBgEEAdZ5AgQCBIIBbgSCAWoBaAB1AM8RVu7VLnyv84db2Wkum+ka
        cWdKsBfsrAHSW3fOzDsIAAABjWCdQSEAAAQDAEYwRAIgEXQi5gYm/odFrXJFMK+q
        thlGGR9NNqmpUKCLXdOUJIYCIB09mw5Kh4JPcH/oyBdADdIOyD5XhynHlScoJ1+r
        Ay5uAHcAouMK5EXvva2bfjjtR2d3U9eCW4SU1yteGyzEuVCkR+cAAAGNYJ1A6AAA
        BAMASDBGAiEAzDZL0Jv9Px9f/j8Eh+e19TXSspwvmG3Qnb/eo+H7oR8CIQC1hyQB
        2ewQhTVZFawUmGKyRdkmN1zjpzGjrdF3QQ8H6AB2AE51oydcmhDDOFts1N8/Uusd
        8OCOG41pwLH6ZLFimjnfAAABjWCdQLcAAAQDAEcwRQIgL7B+qIJITRr2DPJOXJvD
        o+/KNper9j6z/4wOO5oe2zwCIQC3vsCawrX00uG0mWRpnZffZLC0Dtb8XHVPUYfp
        4/eDdDANBgkqhkiG9w0BAQsFAAOCAQEAKIRn+pa8bo60XS5EkAXRr03FoA7ssnNL
        cB1Jc4+b4jqCXQNwqGXYlOLV1ohW2BzC1qt7yXzIzUEPKkMyfamqjinJmXG3Qw5s
        ysweBjXzRbJ/YrdS2Z0gRCChASNhoBP/x9FSI2/42Z+PZgJnMpS9khOOskkKeYuY
        MMVhynRgfiWi45fTtptnXdDe7z8DPwRxc4vi4bL6gv8dzoAZEWA3xEP9IwPUOMKK
        hHgWTyYzabiOopYKjWE2Giowukfc1pnyS6kgwWWZrCHrPYU+mvDtyY3wo09s1Uuo
        X3SS8MKzUkuBCEFAGSSrXcTkf2TAYUx0W+xZkj03L3jK4Bu8M/kAug==
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIGFzCCA/+gAwIBAgIRAP0Zx6ZI8jCFNBvJb8ngVsgwDQYJKoZIhvcNAQEMBQAw
        gYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5MRQwEgYDVQQHEwtK
        ZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBOZXR3b3JrMS4wLAYD
        VQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTE4
        MDIxNjAwMDAwMFoXDTI4MDIxNjIzNTk1OVowgYsxCzAJBgNVBAYTAkVTMRYwFAYD
        VQQIEw1JbGxlcyBCYWxlYXJzMRAwDgYDVQQHEwdNYW5hY29yMScwJQYDVQQKEx5T
        b2x1Y2lvbmVzIENvcnBvcmF0aXZhcyBJUCwgU0wxKTAnBgNVBAMTIERvbiBEb21p
        bmlvIC8gTXJEb21haW4gUlNBIERWIENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
        MIIBCgKCAQEAkHd28rhMbD0D9amcKwVe8zK6RC0cfLw53pibu9eUwe7Z0O2V90GZ
        EWd295IR8l7uIqkujFEQZC52B9ZaWIbGir5/y66kMe7Yr6axNoIjqWE71F8DOT8A
        iXggwo3bF/f2IvclHggIPsySH400bxqjuqPnuCUtAQK9OvwPdepWR0D/ADAbkgec
        VoGpWZFBjyRSsd8dK0/IK4qjFlE/zB+nHIr4HQj38eShpOrkXI2SsINDE2fUVVpX
        D0w556yNTvexU4dYQQqIw4zhZjN+9lBXweBsr3trxQIvVPuZ79KW5diVPqfCE1n7
        hOqFhOqk4VFrztBARtxiU6fZ1Sczt0DwUQIDAQABo4IBdTCCAXEwHwYDVR0jBBgw
        FoAUU3m/WqorSs9UgOHYm8Cd8rIDZsswHQYDVR0OBBYEFDoKjBx3WSnqFvaZP6MX
        s98pEZM6MA4GA1UdDwEB/wQEAwIBhjASBgNVHRMBAf8ECDAGAQH/AgEAMB0GA1Ud
        JQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAiBgNVHSAEGzAZMA0GCysGAQQBsjEB
        AgI7MAgGBmeBDAECATBQBgNVHR8ESTBHMEWgQ6BBhj9odHRwOi8vY3JsLnVzZXJ0
        cnVzdC5jb20vVVNFUlRydXN0UlNBQ2VydGlmaWNhdGlvbkF1dGhvcml0eS5jcmww
        dgYIKwYBBQUHAQEEajBoMD8GCCsGAQUFBzAChjNodHRwOi8vY3J0LnVzZXJ0cnVz
        dC5jb20vVVNFUlRydXN0UlNBQWRkVHJ1c3RDQS5jcnQwJQYIKwYBBQUHMAGGGWh0
        dHA6Ly9vY3NwLnVzZXJ0cnVzdC5jb20wDQYJKoZIhvcNAQEMBQADggIBAHho1J2s
        RsWr4DFlKERthYckzxE1m/HDlRIqiE8h+KnG8142rAT7hnjiqL39NkhrHF5swB3/
        BPw4TV67GAfCu4BUJH2bYAWSFaLz+hXjn/vVMnpdLlwFi5/Fg5qb9cjCXV36xW+Y
        uaehUdZg1DLasj28hoIdqD+jTE9seUQHZjU+HDCVKev0lcFzztcmGBIUSwZ4XF1R
        Ke2bPYw+QgFXWIEGQ8dBaBDGvunaP4U8P76YXvdjOhbMLQ0zHJH/5A8qM7wF3TRW
        Nm36+vrXuGCarsbO9fPj4s0rbhGQ7mGYrebIyLVIOy+Dnk7qWfxRbQAkFISik2hs
        1OhBSLWIkKDkwrFn8lv0rdTrux9NLqE4i9cbMnQsiuqDdumR/YNX/4fRVVRLgyvw
        Byz1t4vjkzfXkvpIzUTEKiHzyFFRB71uovzK7T7NMKsk/ytZi/Sv5PzUzhjERv+U
        I708qx1HwOvva5hcnft8oQDybHbO4Fz59pg29HMvw36YWJ8G9Elpc+SORCmgp1kd
        bVuKHo8JYvd9lfJ6BvVINkFfOR9duWjpFMicAmPwT+xzsg3T63JBSvQPqHniIrIG
        YMbj8AOzEJJHRDwZkyvOGx+wKXynIPn0WvB87SnDpJoj+G4xRDmuPnAnC4ZwB00W
        kfxEERJIT5jo3mcnz6GLAQGM4IMo879uBZ1+
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIFgTCCBGmgAwIBAgIQOXJEOvkit1HX02wQ3TE1lTANBgkqhkiG9w0BAQwFADB7
        MQswCQYDVQQGEwJHQjEbMBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYD
        VQQHDAdTYWxmb3JkMRowGAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UE
        AwwYQUFBIENlcnRpZmljYXRlIFNlcnZpY2VzMB4XDTE5MDMxMjAwMDAwMFoXDTI4
        MTIzMTIzNTk1OVowgYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5
        MRQwEgYDVQQHEwtKZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBO
        ZXR3b3JrMS4wLAYDVQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0
        aG9yaXR5MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAgBJlFzYOw9sI
        s9CsVw127c0n00ytUINh4qogTQktZAnczomfzD2p7PbPwdzx07HWezcoEStH2jnG
        vDoZtF+mvX2do2NCtnbyqTsrkfjib9DsFiCQCT7i6HTJGLSR1GJk23+jBvGIGGqQ
        Ijy8/hPwhxR79uQfjtTkUcYRZ0YIUcuGFFQ/vDP+fmyc/xadGL1RjjWmp2bIcmfb
        IWax1Jt4A8BQOujM8Ny8nkz+rwWWNR9XWrf/zvk9tyy29lTdyOcSOk2uTIq3XJq0
        tyA9yn8iNK5+O2hmAUTnAU5GU5szYPeUvlM3kHND8zLDU+/bqv50TmnHa4xgk97E
        xwzf4TKuzJM7UXiVZ4vuPVb+DNBpDxsP8yUmazNt925H+nND5X4OpWaxKXwyhGNV
        icQNwZNUMBkTrNN9N6frXTpsNVzbQdcS2qlJC9/YgIoJk2KOtWbPJYjNhLixP6Q5
        D9kCnusSTJV882sFqV4Wg8y4Z+LoE53MW4LTTLPtW//e5XOsIzstAL81VXQJSdhJ
        WBp/kjbmUZIO8yZ9HE0XvMnsQybQv0FfQKlERPSZ51eHnlAfV1SoPv10Yy+xUGUJ
        5lhCLkMaTLTwJUdZ+gQek9QmRkpQgbLevni3/GcV4clXhB4PY9bpYrrWX1Uu6lzG
        KAgEJTm4Diup8kyXHAc/DVL17e8vgg8CAwEAAaOB8jCB7zAfBgNVHSMEGDAWgBSg
        EQojPpbxB+zirynvgqV/0DCktDAdBgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rID
        ZsswDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wEQYDVR0gBAowCDAG
        BgRVHSAAMEMGA1UdHwQ8MDowOKA2oDSGMmh0dHA6Ly9jcmwuY29tb2RvY2EuY29t
        L0FBQUNlcnRpZmljYXRlU2VydmljZXMuY3JsMDQGCCsGAQUFBwEBBCgwJjAkBggr
        BgEFBQcwAYYYaHR0cDovL29jc3AuY29tb2RvY2EuY29tMA0GCSqGSIb3DQEBDAUA
        A4IBAQAYh1HcdCE9nIrgJ7cz0C7M7PDmy14R3iJvm3WOnnL+5Nb+qh+cli3vA0p+
        rvSNb3I8QzvAP+u431yqqcau8vzY7qN7Q/aGNnwU4M309z/+3ri0ivCRlv79Q2R+
        /czSAaF9ffgZGclCKxO/WIu6pKJmBHaIkU4MiRTOok3JMrO66BQavHHxW/BBC5gA
        CiIDEOUMsfnNkjcZ7Tvx5Dq2+UUTJnWvu6rvP3t3O9LEApE9GQDTF1w52z97GA1F
        zZOFli9d31kWTz9RvdVFGD/tSo7oBmF0Ixa1DVBzJ0RHfxBdiSprhTEUxOipakyA
        vGp4z7h/jnZymQyd/teRCBaho1+V
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIEMjCCAxqgAwIBAgIBATANBgkqhkiG9w0BAQUFADB7MQswCQYDVQQGEwJHQjEb
        MBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYDVQQHDAdTYWxmb3JkMRow
        GAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UEAwwYQUFBIENlcnRpZmlj
        YXRlIFNlcnZpY2VzMB4XDTA0MDEwMTAwMDAwMFoXDTI4MTIzMTIzNTk1OVowezEL
        MAkGA1UEBhMCR0IxGzAZBgNVBAgMEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UE
        BwwHU2FsZm9yZDEaMBgGA1UECgwRQ29tb2RvIENBIExpbWl0ZWQxITAfBgNVBAMM
        GEFBQSBDZXJ0aWZpY2F0ZSBTZXJ2aWNlczCCASIwDQYJKoZIhvcNAQEBBQADggEP
        ADCCAQoCggEBAL5AnfRu4ep2hxxNRUSOvkbIgwadwSr+GB+O5AL686tdUIoWMQua
        BtDFcCLNSS1UY8y2bmhGC1Pqy0wkwLxyTurxFa70VJoSCsN6sjNg4tqJVfMiWPPe
        3M/vg4aijJRPn2jymJBGhCfHdr/jzDUsi14HZGWCwEiwqJH5YZ92IFCokcdmtet4
        YgNW8IoaE+oxox6gmf049vYnMlhvB/VruPsUK6+3qszWY19zjNoFmag4qMsXeDZR
        rOme9Hg6jc8P2ULimAyrL58OAd7vn5lJ8S3frHRNG5i1R8XlKdH5kBjHYpy+g8cm
        ez6KJcfA3Z3mNWgQIJ2P2N7Sw4ScDV7oL8kCAwEAAaOBwDCBvTAdBgNVHQ4EFgQU
        oBEKIz6W8Qfs4q8p74Klf9AwpLQwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQF
        MAMBAf8wewYDVR0fBHQwcjA4oDagNIYyaHR0cDovL2NybC5jb21vZG9jYS5jb20v
        QUFBQ2VydGlmaWNhdGVTZXJ2aWNlcy5jcmwwNqA0oDKGMGh0dHA6Ly9jcmwuY29t
        b2RvLm5ldC9BQUFDZXJ0aWZpY2F0ZVNlcnZpY2VzLmNybDANBgkqhkiG9w0BAQUF
        AAOCAQEACFb8AvCb6P+k+tZ7xkSAzk/ExfYAWMymtrwUSWgEdujm7l3sAg9g1o1Q
        GE8mTgHj5rCl7r+8dFRBv/38ErjHT1r0iWAFf2C3BUrz9vHCv8S5dIa2LX1rzNLz
        Rt0vxuBqw8M0Ayx9lt1awg6nCpnBBYurDC/zXDrPbDdVCYfeU0BsWO/8tqtlbgT2
        G9w84FoVxp7Z8VlIMCFlA2zs6SFz7JsDoeA3raAVGI/6ugLOpyypEBMs1OUIJqsi
        l2D4kF501KKaU73yqWjgom7C12yxow+ev+to51byrvLjKzg6CYG1a4XXvi3tPxq3
        smPi9WIsgtRqAEFQ8TmDn5XpNpaYbg==
        -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvwIBADANBgkqhkiG9w0BAQEFAASCBKkwggSlAgEAAoIBAQDRkw2daBMbecIm
        Z35+A6wkdwYGEVTknk40Kvq8XZPly0bzV40Q0nnxUd1feba/1DGiUmmNmlsRQcNt
        MzaDwqCD+3sfeMhLSA+WzxXQS1CSaFmBl+X1wjHXOBD0HSWCj3SPunaSxFUPXPAY
        LzMjiKIAU1n1PVvk6WAoYCelPe0BYwrQt2hT/o8NtwhOCvz2MvSCmL7wuxaDr9Km
        FADZNPTV/VBmYPN+nqbARdpgn0LOZ8XaTbrgtULEQU01NwyByEHX+NU18ZBpUGoB
        KIKNqIOVHVqmljD49B5K9Zd2Tqpqnqvfm6o3I60jNCjgLuiKw7Qow05xpbCcJzBa
        0jcLSCrzAgMBAAECggEBAJzwRzDJwA1CN660r9fD/kPsUbl3fyAYoC2Wxd8LIHbj
        q8UMmhmv1Btvl5wotD6gs25/0oV0wp+ApM0AneE7fSJ4zzG5LByb4PipKQerbrHE
        rMpMKqvH+bTWSnPT48QKk1oSYzrzBVOU4ELsDZqdddtSj7oDce5RCW4S2311iycO
        XTpo+ztK7tXri8vdLF6lyWICxkm2fsOaHyQvjlY/57aAtl/QLvVp8YoIBEnlYpPN
        a5a9QCB2ZhsKhelLEDpcqx7ltHjrgw27XA3RTmA3G3LaO/73nBbDlRK5Rlip4ALP
        zik/ZvkdQTb7+A1fJSFWOQQVYb/BoCmJVNMTuAqQNokCgYEA+O3wPr7Sr/HiDQ4A
        qhD7vQzOYcYoaGFoaUGgYvvJkdAAVub5nBnP4oNoefSbh9fJ3TG4OEwy85QPrYrt
        YBtlQYUMNn3INKhFklXRYiyLV0N619hryr+9UyJ48Acm7AodmZPVUTuLiG4dM3gC
        HOTCR4dqJ3NTMFh8IotvheXvfc0CgYEA14bzAzB5pqdO9JuQyHC0KY9MHh6g+GnU
        2Puhvdosdn5iGn+YAV++QIQcd05nQ+Eu324Zi6sbxQr6P25GQ7TsfA0q7+cKW64F
        hzZXnE9++vkUV3j4T+qrN4UTBhQ1QWwchGLv+kiUlDWo77bUlzDfMspYowPq2o1j
        MUIFaeJ3i78CgYEAvNI/2liFGFEyVxS4DEi1q8F7C090dzjsKmtNbcfwLlrI5yJt
        VKt/tSJYramOEIzu4opEYu/p9jnpaopnZO9i70As82iV5Nt/anEOUpnXWGonVHMl
        0LWAtv7/HZNPQtypd0VcGjJAtUxReikd8SzU8c0WCLbB83orL0j1X2v7LkECgYEA
        j7/bT5JCYSwQFke37mh1UY7Y5vHozSbRJxPWEel1ZGbxCdl2SdxQ6Xjz/4MUjwqf
        F7i4YxZyBB9JP4tOZBRE8oxZyf6gQvuzhjZxgrjm6X+92IW/oJXVMseYI6LQzlzM
        PGQ8yQMlziBoF9Iqwth+1cJuEfQn7TMGKLFvKOs6bsMCgYBH/4gVJnBHIdM69Pdw
        TI6e59jcFM2K42eRWgiW8R5DFqS2NrRi7s7X9gBE8IPD3v48nxYu2aeRM3F8h32C
        k0LxNFUxO7nq5s+PLze9D94toaiPGqCgh2ZxnLu5mHO9hgXsMfA8vsDLTIY+MjLW
        9Xu+F93QDrIewVwNvdm6UV80vg==
        -----END PRIVATE KEY-----