packages:
  yum:
    mod_ssl : []

files:
  /etc/httpd/conf.d/ssl.conf:
    mode: "000644"
    owner: root
    group: root
    content: |
      LoadModule ssl_module modules/mod_ssl.so

  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN CERTIFICATE-----
        MIIGgjCCBWqgAwIBAgIQfEmnw9THQX5uwX4SP98iNjANBgkqhkiG9w0BAQsFADCB
        izELMAkGA1UEBhMCRVMxFjAUBgNVBAgTDUlsbGVzIEJhbGVhcnMxEDAOBgNVBAcT
        B01hbmFjb3IxJzAlBgNVBAoTHlNvbHVjaW9uZXMgQ29ycG9yYXRpdmFzIElQLCBT
        TDEpMCcGA1UEAxMgRG9uIERvbWluaW8gLyBNckRvbWFpbiBSU0EgRFYgQ0EwHhcN
        MjUwMjAxMDAwMDAwWhcNMjYwMzA0MjM1OTU5WjAeMRwwGgYDVQQDExNqZGRvbWlu
        aWNhbmZhcm0uY29tMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAuqQE
        4eFh/dX7ApIcdQ/TPXHoEcRiEOGFzA9BFzc74686xJc+3m0HIeXQGF373LD+If2r
        oDvdNBSwRaDiC00fC50OWFxuSXC61fGRTRoaAm36YTj6NhBq2AeqVGLOk2qUgzN/
        cbxu6/CTIurq1Y2rTliUeB6Qap21LRnlik7AN6T8I1hV1ZBkrQtxyxVX2YhvHwJk
        HLgFVgjwC5d88IcKWMHkI0MOuBBhgH/CPh25MfjKmnWSnvCMPFPz6KY8MgK7Lk3z
        RCCUOe3KQszLhPWhTneNPxLAYzrvg7uvw9x517ujsqxA3k0DQETKPkDLwhNsc8+f
        NfntFRUBF4wdc/6H3QIDAQABo4IDTDCCA0gwHwYDVR0jBBgwFoAUOgqMHHdZKeoW
        9pk/oxez3ykRkzowHQYDVR0OBBYEFO1WOuFTGYefoxqLiSXOCy78at3uMA4GA1Ud
        DwEB/wQEAwIFoDAMBgNVHRMBAf8EAjAAMB0GA1UdJQQWMBQGCCsGAQUFBwMBBggr
        BgEFBQcDAjBLBgNVHSAERDBCMDYGCysGAQQBsjEBAgI7MCcwJQYIKwYBBQUHAgEW
        GWh0dHBzOi8vY3BzLnVzZXJ0cnVzdC5jb20wCAYGZ4EMAQIBMEcGA1UdHwRAMD4w
        PKA6oDiGNmh0dHA6Ly9jcmwudXNlcnRydXN0LmNvbS9Eb25Eb21pbmlvTXJEb21h
        aW5SU0FEVkNBLmNybDB5BggrBgEFBQcBAQRtMGswQgYIKwYBBQUHMAKGNmh0dHA6
        Ly9jcnQudXNlcnRydXN0LmNvbS9Eb25Eb21pbmlvTXJEb21haW5SU0FEVkNBLmNy
        dDAlBggrBgEFBQcwAYYZaHR0cDovL29jc3AudXNlcnRydXN0LmNvbTA3BgNVHREE
        MDAughNqZGRvbWluaWNhbmZhcm0uY29tghd3d3cuamRkb21pbmljYW5mYXJtLmNv
        bTCCAX0GCisGAQQB1nkCBAIEggFtBIIBaQFnAHYAlpdkv1VYl633Q4doNwhCd+nw
        OtX2pPM2bkakPw/KqcYAAAGUwbsm3QAABAMARzBFAiAHI9qBBj0JmxVHbHy5EiHT
        AuZqP2oIxr2Eo0wwvQRIvQIhALvdJAEjI8F2Eb6ffTZOjOq7PP7bcVsaKV5inD96
        tQZDAHUAGYbUxyiqb/66A294Kk0BkarOLXIxD67OXXBBLSVMx9QAAAGUwbsmaQAA
        BAMARjBEAiAH/SivHC4iPQvd/RLQoD2MbUvYdYQg9w+Ex/eFUK9c7AIgRg5693o+
        j/fSHHBNvESwq+pe98zyFR5cmpnYK3EDYWAAdgDLOPcViXyEoURfW8Hd+8lu8ppZ
        zUcKaQWFsMsUwxRY5wAAAZTBuyaWAAAEAwBHMEUCIBYz0vY06C86RWYmALJ4JuVq
        NqMCyCIpuA7JoEfUvYPHAiEAhthAYsMn1FFuCL2VzD9tZnYbn7aIptWPzoCVio87
        9QkwDQYJKoZIhvcNAQELBQADggEBADA+YVnePy1f0z51PczDInoWWb3T8gU7sFsC
        frFop73hkuqh2amxHdsFRqkmwK4C6pKt+Ng2kgchxqD6VqUxhM3w38QPpcnnuhPN
        Pw5kU/Czwnj216eIunOu95YZ+UQEENtbLqQI1Ue/sMvWxCjqUyaJrlzSjNidFTZ+
        cqi/bVJz2kOpQx9o4iOH4FsyuzvZ29YnDUZi3lWhiVuw2xDnxb7QjMjH0ZKgi5K7
        +Ol0bQg9OlMOwMVzowXnW6ZrR3wFPRW613i/Yijhf0ab2JEoMYCGln6+lBYbGz7o
        /mphyxTE42GrdIIJgykmm7ZN2Y4ay24K7LGjqmm17IszLu7kP98=
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIGFzCCA/+gAwIBAgIRAP0Zx6ZI8jCFNBvJb8ngVsgwDQYJKoZIhvcNAQEMBQAw
        gYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5MRQwEgYDVQQHEwtK
        ZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBOZXR3b3JrMS4wLAYD
        VQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0aG9yaXR5MB4XDTE4
        MDIxNjAwMDAwMFoXDTI4MDIxNjIzNTk1OVowgYsxCzAJBgNVBAYTAkVTMRYwFAYD
        VQQIEw1JbGxlcyBCYWxlYXJzMRAwDgYDVQQHEwdNYW5hY29yMScwJQYDVQQKEx5T
        b2x1Y2lvbmVzIENvcnBvcmF0aXZhcyBJUCwgU0wxKTAnBgNVBAMTIERvbiBEb21p
        bmlvIC8gTXJEb21haW4gUlNBIERWIENBMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8A
        MIIBCgKCAQEAkHd28rhMbD0D9amcKwVe8zK6RC0cfLw53pibu9eUwe7Z0O2V90GZ
        EWd295IR8l7uIqkujFEQZC52B9ZaWIbGir5/y66kMe7Yr6axNoIjqWE71F8DOT8A
        iXggwo3bF/f2IvclHggIPsySH400bxqjuqPnuCUtAQK9OvwPdepWR0D/ADAbkgec
        VoGpWZFBjyRSsd8dK0/IK4qjFlE/zB+nHIr4HQj38eShpOrkXI2SsINDE2fUVVpX
        D0w556yNTvexU4dYQQqIw4zhZjN+9lBXweBsr3trxQIvVPuZ79KW5diVPqfCE1n7
        hOqFhOqk4VFrztBARtxiU6fZ1Sczt0DwUQIDAQABo4IBdTCCAXEwHwYDVR0jBBgw
        FoAUU3m/WqorSs9UgOHYm8Cd8rIDZsswHQYDVR0OBBYEFDoKjBx3WSnqFvaZP6MX
        s98pEZM6MA4GA1UdDwEB/wQEAwIBhjASBgNVHRMBAf8ECDAGAQH/AgEAMB0GA1Ud
        JQQWMBQGCCsGAQUFBwMBBggrBgEFBQcDAjAiBgNVHSAEGzAZMA0GCysGAQQBsjEB
        AgI7MAgGBmeBDAECATBQBgNVHR8ESTBHMEWgQ6BBhj9odHRwOi8vY3JsLnVzZXJ0
        cnVzdC5jb20vVVNFUlRydXN0UlNBQ2VydGlmaWNhdGlvbkF1dGhvcml0eS5jcmww
        dgYIKwYBBQUHAQEEajBoMD8GCCsGAQUFBzAChjNodHRwOi8vY3J0LnVzZXJ0cnVz
        dC5jb20vVVNFUlRydXN0UlNBQWRkVHJ1c3RDQS5jcnQwJQYIKwYBBQUHMAGGGWh0
        dHA6Ly9vY3NwLnVzZXJ0cnVzdC5jb20wDQYJKoZIhvcNAQEMBQADggIBAHho1J2s
        RsWr4DFlKERthYckzxE1m/HDlRIqiE8h+KnG8142rAT7hnjiqL39NkhrHF5swB3/
        BPw4TV67GAfCu4BUJH2bYAWSFaLz+hXjn/vVMnpdLlwFi5/Fg5qb9cjCXV36xW+Y
        uaehUdZg1DLasj28hoIdqD+jTE9seUQHZjU+HDCVKev0lcFzztcmGBIUSwZ4XF1R
        Ke2bPYw+QgFXWIEGQ8dBaBDGvunaP4U8P76YXvdjOhbMLQ0zHJH/5A8qM7wF3TRW
        Nm36+vrXuGCarsbO9fPj4s0rbhGQ7mGYrebIyLVIOy+Dnk7qWfxRbQAkFISik2hs
        1OhBSLWIkKDkwrFn8lv0rdTrux9NLqE4i9cbMnQsiuqDdumR/YNX/4fRVVRLgyvw
        Byz1t4vjkzfXkvpIzUTEKiHzyFFRB71uovzK7T7NMKsk/ytZi/Sv5PzUzhjERv+U
        I708qx1HwOvva5hcnft8oQDybHbO4Fz59pg29HMvw36YWJ8G9Elpc+SORCmgp1kd
        bVuKHo8JYvd9lfJ6BvVINkFfOR9duWjpFMicAmPwT+xzsg3T63JBSvQPqHniIrIG
        YMbj8AOzEJJHRDwZkyvOGx+wKXynIPn0WvB87SnDpJoj+G4xRDmuPnAnC4ZwB00W
        kfxEERJIT5jo3mcnz6GLAQGM4IMo879uBZ1+
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIFgTCCBGmgAwIBAgIQOXJEOvkit1HX02wQ3TE1lTANBgkqhkiG9w0BAQwFADB7
        MQswCQYDVQQGEwJHQjEbMBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYD
        VQQHDAdTYWxmb3JkMRowGAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UE
        AwwYQUFBIENlcnRpZmljYXRlIFNlcnZpY2VzMB4XDTE5MDMxMjAwMDAwMFoXDTI4
        MTIzMTIzNTk1OVowgYgxCzAJBgNVBAYTAlVTMRMwEQYDVQQIEwpOZXcgSmVyc2V5
        MRQwEgYDVQQHEwtKZXJzZXkgQ2l0eTEeMBwGA1UEChMVVGhlIFVTRVJUUlVTVCBO
        ZXR3b3JrMS4wLAYDVQQDEyVVU0VSVHJ1c3QgUlNBIENlcnRpZmljYXRpb24gQXV0
        aG9yaXR5MIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAgBJlFzYOw9sI
        s9CsVw127c0n00ytUINh4qogTQktZAnczomfzD2p7PbPwdzx07HWezcoEStH2jnG
        vDoZtF+mvX2do2NCtnbyqTsrkfjib9DsFiCQCT7i6HTJGLSR1GJk23+jBvGIGGqQ
        Ijy8/hPwhxR79uQfjtTkUcYRZ0YIUcuGFFQ/vDP+fmyc/xadGL1RjjWmp2bIcmfb
        IWax1Jt4A8BQOujM8Ny8nkz+rwWWNR9XWrf/zvk9tyy29lTdyOcSOk2uTIq3XJq0
        tyA9yn8iNK5+O2hmAUTnAU5GU5szYPeUvlM3kHND8zLDU+/bqv50TmnHa4xgk97E
        xwzf4TKuzJM7UXiVZ4vuPVb+DNBpDxsP8yUmazNt925H+nND5X4OpWaxKXwyhGNV
        icQNwZNUMBkTrNN9N6frXTpsNVzbQdcS2qlJC9/YgIoJk2KOtWbPJYjNhLixP6Q5
        D9kCnusSTJV882sFqV4Wg8y4Z+LoE53MW4LTTLPtW//e5XOsIzstAL81VXQJSdhJ
        WBp/kjbmUZIO8yZ9HE0XvMnsQybQv0FfQKlERPSZ51eHnlAfV1SoPv10Yy+xUGUJ
        5lhCLkMaTLTwJUdZ+gQek9QmRkpQgbLevni3/GcV4clXhB4PY9bpYrrWX1Uu6lzG
        KAgEJTm4Diup8kyXHAc/DVL17e8vgg8CAwEAAaOB8jCB7zAfBgNVHSMEGDAWgBSg
        EQojPpbxB+zirynvgqV/0DCktDAdBgNVHQ4EFgQUU3m/WqorSs9UgOHYm8Cd8rID
        ZsswDgYDVR0PAQH/BAQDAgGGMA8GA1UdEwEB/wQFMAMBAf8wEQYDVR0gBAowCDAG
        BgRVHSAAMEMGA1UdHwQ8MDowOKA2oDSGMmh0dHA6Ly9jcmwuY29tb2RvY2EuY29t
        L0FBQUNlcnRpZmljYXRlU2VydmljZXMuY3JsMDQGCCsGAQUFBwEBBCgwJjAkBggr
        BgEFBQcwAYYYaHR0cDovL29jc3AuY29tb2RvY2EuY29tMA0GCSqGSIb3DQEBDAUA
        A4IBAQAYh1HcdCE9nIrgJ7cz0C7M7PDmy14R3iJvm3WOnnL+5Nb+qh+cli3vA0p+
        rvSNb3I8QzvAP+u431yqqcau8vzY7qN7Q/aGNnwU4M309z/+3ri0ivCRlv79Q2R+
        /czSAaF9ffgZGclCKxO/WIu6pKJmBHaIkU4MiRTOok3JMrO66BQavHHxW/BBC5gA
        CiIDEOUMsfnNkjcZ7Tvx5Dq2+UUTJnWvu6rvP3t3O9LEApE9GQDTF1w52z97GA1F
        zZOFli9d31kWTz9RvdVFGD/tSo7oBmF0Ixa1DVBzJ0RHfxBdiSprhTEUxOipakyA
        vGp4z7h/jnZymQyd/teRCBaho1+V
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE-----
        MIIEMjCCAxqgAwIBAgIBATANBgkqhkiG9w0BAQUFADB7MQswCQYDVQQGEwJHQjEb
        MBkGA1UECAwSR3JlYXRlciBNYW5jaGVzdGVyMRAwDgYDVQQHDAdTYWxmb3JkMRow
        GAYDVQQKDBFDb21vZG8gQ0EgTGltaXRlZDEhMB8GA1UEAwwYQUFBIENlcnRpZmlj
        YXRlIFNlcnZpY2VzMB4XDTA0MDEwMTAwMDAwMFoXDTI4MTIzMTIzNTk1OVowezEL
        MAkGA1UEBhMCR0IxGzAZBgNVBAgMEkdyZWF0ZXIgTWFuY2hlc3RlcjEQMA4GA1UE
        BwwHU2FsZm9yZDEaMBgGA1UECgwRQ29tb2RvIENBIExpbWl0ZWQxITAfBgNVBAMM
        GEFBQSBDZXJ0aWZpY2F0ZSBTZXJ2aWNlczCCASIwDQYJKoZIhvcNAQEBBQADggEP
        ADCCAQoCggEBAL5AnfRu4ep2hxxNRUSOvkbIgwadwSr+GB+O5AL686tdUIoWMQua
        BtDFcCLNSS1UY8y2bmhGC1Pqy0wkwLxyTurxFa70VJoSCsN6sjNg4tqJVfMiWPPe
        3M/vg4aijJRPn2jymJBGhCfHdr/jzDUsi14HZGWCwEiwqJH5YZ92IFCokcdmtet4
        YgNW8IoaE+oxox6gmf049vYnMlhvB/VruPsUK6+3qszWY19zjNoFmag4qMsXeDZR
        rOme9Hg6jc8P2ULimAyrL58OAd7vn5lJ8S3frHRNG5i1R8XlKdH5kBjHYpy+g8cm
        ez6KJcfA3Z3mNWgQIJ2P2N7Sw4ScDV7oL8kCAwEAAaOBwDCBvTAdBgNVHQ4EFgQU
        oBEKIz6W8Qfs4q8p74Klf9AwpLQwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQF
        MAMBAf8wewYDVR0fBHQwcjA4oDagNIYyaHR0cDovL2NybC5jb21vZG9jYS5jb20v
        QUFBQ2VydGlmaWNhdGVTZXJ2aWNlcy5jcmwwNqA0oDKGMGh0dHA6Ly9jcmwuY29t
        b2RvLm5ldC9BQUFDZXJ0aWZpY2F0ZVNlcnZpY2VzLmNybDANBgkqhkiG9w0BAQUF
        AAOCAQEACFb8AvCb6P+k+tZ7xkSAzk/ExfYAWMymtrwUSWgEdujm7l3sAg9g1o1Q
        GE8mTgHj5rCl7r+8dFRBv/38ErjHT1r0iWAFf2C3BUrz9vHCv8S5dIa2LX1rzNLz
        Rt0vxuBqw8M0Ayx9lt1awg6nCpnBBYurDC/zXDrPbDdVCYfeU0BsWO/8tqtlbgT2
        G9w84FoVxp7Z8VlIMCFlA2zs6SFz7JsDoeA3raAVGI/6ugLOpyypEBMs1OUIJqsi
        l2D4kF501KKaU73yqWjgom7C12yxow+ev+to51byrvLjKzg6CYG1a4XXvi3tPxq3
        smPi9WIsgtRqAEFQ8TmDn5XpNpaYbg==
        -----END CERTIFICATE-----
        -----BEGIN CERTIFICATE REQUEST-----
        MIIDAjCCAeoCAQAwgbwxHDAaBgNVBAMME2pkZG9taW5pY2FuZmFybS5jb20xHDAa
        BgNVBAoME2pkZG9taW5pY2FuZmFybS5jb20xHDAaBgNVBAsME2pkZG9taW5pY2Fu
        ZmFybS5jb20xCzAJBgNVBAYTAkRPMRowGAYDVQQIDBFEaXN0cml0byBOYWNpb25h
        bDEUMBIGA1UEBwwLVmlsbGEgTWVsbGExITAfBgkqhkiG9w0BCQEWEnlhcmVpbnlm
        QGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBALqkBOHh
        Yf3V+wKSHHUP0z1x6BHEYhDhhcwPQRc3O+OvOsSXPt5tByHl0Bhd+9yw/iH9q6A7
        3TQUsEWg4gtNHwudDlhcbklwutXxkU0aGgJt+mE4+jYQatgHqlRizpNqlIMzf3G8
        buvwkyLq6tWNq05YlHgekGqdtS0Z5YpOwDek/CNYVdWQZK0LccsVV9mIbx8CZBy4
        BVYI8AuXfPCHCljB5CNDDrgQYYB/wj4duTH4ypp1kp7wjDxT8+imPDICuy5N80Qg
        lDntykLMy4T1oU53jT8SwGM674O7r8Pcede7o7KsQN5NA0BEyj5Ay8ITbHPPnzX5
        7RUVAReMHXP+h90CAwEAAaAAMA0GCSqGSIb3DQEBBQUAA4IBAQBq8bq0v/YbN+w3
        pp+SBREGOw5QqrfZmLHOCdL7Z974xeIglRxUSkOPRvAJJ1QYNqQ4zGQFdezCg56c
        7/1YHzJrSqOlGDbTyNateSr0iquM0W2xY+0y9b9Tb7ZnjDPBlnNKUALJ5svYbfel
        9Wi71Vwi41w6f3Hd7dsIlk8gNZDR1a5YkIm86TDHsVsVnvz/Le8XqfUcAESH+H9J
        1nJtl4P97bePU8c2LzZRjVxLjJWzrtIVuzupwHLIJpzIsFB6/sK5aPfwird/M5Wm
        9LNV/4oyurHzEd2iZF4zKav6TjrB/MGQqlE00/8siDNjv0JL3fGNzi5ep1NR/b8M
        GiPk9LA1
        -----END CERTIFICATE REQUEST-----

  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
        -----BEGIN PRIVATE KEY-----
        MIIEvQIBADANBgkqhkiG9w0BAQEFAASCBKcwggSjAgEAAoIBAQC6pATh4WH91fsC
        khx1D9M9cegRxGIQ4YXMD0EXNzvjrzrElz7ebQch5dAYXfvcsP4h/augO900FLBF
        oOILTR8LnQ5YXG5JcLrV8ZFNGhoCbfphOPo2EGrYB6pUYs6TapSDM39xvG7r8JMi
        6urVjatOWJR4HpBqnbUtGeWKTsA3pPwjWFXVkGStC3HLFVfZiG8fAmQcuAVWCPAL
        l3zwhwpYweQjQw64EGGAf8I+Hbkx+MqadZKe8Iw8U/PopjwyArsuTfNEIJQ57cpC
        zMuE9aFOd40/EsBjOu+Du6/D3HnXu6OyrEDeTQNARMo+QMvCE2xzz581+e0VFQEX
        jB1z/ofdAgMBAAECggEAMOo7vVdsbzJdjtbsTmHPYxMvVzi42uPARTLaRFNdhtat
        +EgLWhAJBoFMgJZhI/3fHNl22Y/W8Ydai2UW2Q9lS43l7JKM9QJudRPSmPp2Rpy8
        Oi7MpM64sdWQdn1O1qPgOGKOzCguifeLGGOpGD8A3o+ombKo9shOa3uWBSGOjwZj
        fKDwIps4eYOeazAkarT9/qp/zFnqkM86KM4BrRA/8Vej5FDxMMkG6Y4i4S/CrbVt
        eUfNZjIRAqBwC08+1bRnS0eO4H8wANgICALlwP7Op7z4SrQG9nuU9rhT5DZEf5XL
        eYv984V/gxOmBTkfD0/33u4rX87yJbH1/dq9sAjaoQKBgQDs1Os7DcoINM1AS2aU
        BYVWW9BrAO6crKY1EYAEO7ShYJ5WaAA8FqzkcNisGJ+OXKfDyaov6aOr3Pt4xzS7
        e+MfynWPO1eExvZGJPe/AeiJZD/Ys3mu2rgOUITfKpqeDK0IjIZUp63LddG5Z1h+
        EZU2cbEuahtdxspqcdKkkXDeqwKBgQDJvyhahNVWy4cquFde6XQfRBUFhrdNE9Y5
        1/zYSbgafPlioNZ5aoHHbQ7+jDwsEDezfSGc7N9PbjqDTVU2O/o2KctcpA9IcYkX
        IlHNnc+xJ7B9s5jOIJ5fMscNOOHc5fhh7Ow4SxRDOpqEP0B5cU/1ox3t57xt2byF
        9QFwI62TlwKBgBZqdLVLMdMjBEZQnK3n893fpNNr7CnCIZ0mQeKksA0SMwpkn5kQ
        YF7i2282iWuVE3/xh30vdQFgUiD1YeVY7X9lz0i2SitUFZ1ABH78tEDEz1I4coz9
        QKyCLIFe6/GHq50Ch/hdQpLeXPJaeMK98UyM6ENHYb23ghMfINvYtEEvAoGAfYB2
        GQFjObA48KFmcLunqj+PGDX6128MqEUtnFsXtRqjhPBrG3LfMvEsD7urPvoDvJuO
        CnHsZRw8OCwmYyuidok/Ye0JONawIn0OCGwwpJL9HuVXnHr8KlqLKzWEhAdnoXti
        Y46JF11ge/5hHGsaA8OqPbIYLPnzZh3I/DqloxcCgYEA7LMsIS3+JOkcjQOWQ9pJ
        236aBCCid7J0fbpvxyT248Lq6p3iqKZHEYFlU4AgMQmUJeP/DKojaZP+C/xS+CrV
        AJCU0hBJ4QgWOVk3JAwrAKWrdKynqavMam3qK5/du279PGnMK8BBtqTpF09srr7C
        h5yUSoK9qv14ih8kVKhfWzI=
        -----END PRIVATE KEY-----